@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "AWebpage.cshtml";
}

@section PageSpecificControls{
	
	@{
	var allDirectorProfiles = CurrentPage.Children().Where("memberType == 62");
	var allAdvisoryProfiles = CurrentPage.Children().Where("memberType == 63");
	}
	
	<div class="module bios">
		<!-- POSTS -->
		<div class="posts">
		@foreach(var profile in allDirectorProfiles)
		{			
			<article>
			@if (profile.GetProperty("profileImage") != null)
			{
				var imageId = profile.profileImage;
				if(!String.IsNullOrWhiteSpace(imageId))
				{
				<figure><img src="@Umbraco.Media(@profile.profileImage).Url" /></figure>
				}
			}
			<h3 class="title">@profile.profileTitle<span>@profile.profileSubTitle</span></h3>
			@profile.profileBody
			</article>				
		}
		</div>
	</div>
}